.auth-form__content {
    font-family: 'Inter';
    font-weight: 700;
    color: #000000;
    width: 100%;
    max-width: 680px;
    margin: 30px auto;
    padding: 40px 20px;
}

.auth-form__heading {
    font-size: 30px;
    text-align: center;
}

.form__group {
    margin-bottom: 30px;
}

.form__group-title {
    font-size: 24px;
    margin-bottom: 6px;
}

.form__input{
    width: 100%;
    height: 60px;
    font-size: 22px;
    border: 1px solid #000000;
    border-radius: 4px;
}

.form__error {
    color: #f44336;
    font-size: 14px;
    margin-top: 5px;
}

.form__button-submit {
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 26px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form__button-submit:hover {
    background-color: #222222;
}

.auth-form__link {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.auth-form__link-submit {
    font-size: 20px;
    font-weight: 400;
    color: #0073CC;
    text-decoration: none;
}

.auth-form__link-submit:hover {
    text-decoration: underline;
}

@media (max-width: 920px) {
    .form__input {
        height: 54px;
        font-size: 18px;
    }
    .auth-form__link-submit {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .form__input {
        height: 48px;
        font-size: 16px;
    }

    .auth-form__link {
        margin-top: 16px;
        margin-bottom: 28px;
    }

    .auth-form__link-submit {
        font-size: 16px;
    }
}
