.header {
    background-color: #000000;
    padding: 0 40px;
    font-family: 'Inter';
}

.header__inner {
    max-width: 1400px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    flex-shrink: 0;
}

.header__logo-img{
    height: 36px;
}

.header__nav {
    flex: 1;
    min-width: 0;
    display: flex;
    justify-content: flex-end;
}

.header__nav-list {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    min-width: 0;
    flex-wrap: nowrap;
}

.header__nav-link {
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
    font-size: clamp(14px, 2.5vw, 20px);
    white-space: nowrap;
}

.header__nav-link:hover {
    text-decoration: underline;
}

.header__nav-button {
    background: none;
    border: none;
    padding: 0;
}
@media (max-width: 768px) {
    .header {
        padding: 0 16px;
    }

    .header__nav-list {
        gap: 12px;
    }
}